@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'ZCOOL KuaiLe', cursive;
    border-radius: 180px;
}

.row {
    margin: 1em;
    padding-right: 0;
    padding-left: 0;
}

.logo {
    font-size: 3em;
    color: white;
    text-align: center;
}

.menu {
    justify-content: center;
}

.menu a, a:active, a:hover {
    color: white;
}

.logo a {
    color: white;
}

.logo a:link {
    color: white;
}

.logo a:visited {
    color: white;
}

.logo a:hover {
color: white;
}

.logo a:active {
color: white;
}

.conteudo > div {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
}